version: '3.8'

services:
  backend:
    container_name: backend
    build:
      context: ..
      dockerfile: .deploy/backend.Dockerfile
    ports:
      - "20777:20777/udp"

  frontend:
    container_name: frontend
    build:
      context: ..
      dockerfile: .deploy/frontend.Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend