name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to use for the Docker image'
        required: true
        default: '1.0.0'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.26.0"

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set version from input
        id: set-version
        run: echo "::set-output name=VERSION::${{ github.event.inputs.version }}"

      - name: Build and push Docker image (backend)
        id: build-push-backend
        run: |
          docker build --platform linux/amd64 -t ghcr.io/${{ github.repository }}/backend:${{ steps.set-version.outputs.VERSION }} .
          docker push ghcr.io/${{ github.repository }}/backend:${{ steps.set-version.outputs.VERSION }}

      - name: Build and push Docker image (frontend)
        id: build-push-frontend
        run: |
          docker build --platform linux/amd64 -t ghcr.io/${{ github.repository }}/frontend:${{ steps.set-version.outputs.VERSION }} .
          docker push ghcr.io/${{ github.repository }}/frontend:${{ steps.set-version.outputs.VERSION }}